_site/
.*
!/.editorconfig
!/.prettierrc
!/.git*
!/.mailmap*
!/.travis.yml
Gemfile.lock
npm-debug.log
build/

#try to avoid "Page build warning"s at contributors
#see for background information https://github.com/trek/beautiful-open/issues/43
CNAME

# IntelliJ
*.iml
