

.carousel-caption { 
	padding-top: 5px; 
	padding-bottom: 5px; 
}

.carousel-caption > h3 {
	margin-bottom: 5px; 
	color: rgb(81, 74, 119); 
	text-shadow: initial; 
	margin-top: 5px;
}

.carousel-caption > p {
	color: rgb(81, 74, 119); 
	text-shadow: initial;
}

.carousel-indicators {
	bottom: 10px;
}

.carousel-indicators > li {
	border-color: rgb(81, 74, 119); 
}

.carousel-indicators .active {
	background-color: rgb(81, 74, 119); 
}

.carousel-caption.well {
	background-color: rgba(182, 182, 182, 0.2);
	background-image: -webkit-linear-gradient(top,#e8e8e8 0,#f5f5f5 100%);
	background-image: -o-linear-gradient(top,#e8e8e8 0,#f5f5f5 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,from(#e8e8e8),to(#f5f5f5));
	background-image: linear-gradient(to bottom,rgba(232, 232, 232, 0.45) 0,rgba(245, 245, 245, 0.75) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe8e8e8', endColorstr='#fff5f5f5', GradientType=0);
	background-repeat: repeat-x;
	border-color: #dcdcdc;
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 rgba(255,255,255,.1);
	box-shadow: inset 0 1px 3px rgba(0,0,0,.05),0 1px 0 rgba(255,255,255,.1);
}

.p-forum {
	
	border-color: #efa40d;
}