<section id="download">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-auto">
        <h1>Try it now</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <h3 class="mb-5">JabRef is free and works across all your devices.</h3>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <a
          href="https://downloads.jabref.org/"
          class="btn btn-primary btn-lg download-btn"
        >
          Download JabRef
        </a>
      </div>
    </div>
    <div class="row justify-content-center pt-2">
      <div class="col-auto">
        <p class="text-center">
          <small>
            <span class="for-win-only">
              For Windows
              <br />
              Also available for
              <a href="https://downloads.jabref.org/">
                mac OS X and Linux
              </a>
              <br />
            </span>
            <span class="for-mac-only">
              For mac OS X
              <br />
              Also available for
              <a href="https://downloads.jabref.org/">
                Windows and Linux
              </a>
              <br />
            </span>
            <span class="for-linux-only">
              For Linux
              <br />
              Also available for
              <a href="https://downloads.jabref.org/">
                mac OS X and Windows 
              </a>
              <br />
            </span>
            <a
              href="https://github.com/JabRef/jabref/blob/main/CHANGELOG.md#50--2020-03-06"
            >
              Change Log
            </a>
            and
            <a href="https://builds.jabref.org/main/">Development Builds</a>
          </small>
        </p>
      </div>
    </div>
  </div>
</section>
