<section id="download">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-auto"></div>
      <h1>Try it now</h1>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <h3 class="mb-5">JabRef is free and works across all your devices.</h3>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
		<a href="https://www.fosshub.com/JabRef.html?dwl=JabRef-5.0.msi" class="btn btn-primary btn-lg">Download JabRef</a>
	  </div>
	</div>
    <div class="row justify-content-center pt-2">
	  <div class="col-auto"> 
        <p class="text-center">
          <small>
			For Windows. Also available for <a href="https://www.fosshub.com/JabRef.html">mac OS X and Linux</a>.
			<br />
			<a href="https://github.com/JabRef/jabref/blob/master/CHANGELOG.md#50--2020-03-06">Change Log</a> and <a href="https://builds.jabref.org/master/">Development Builds</a>
          </small>
        </p>
      </div>
    </div>
  </div>
</section>
