<section id="getinvolved">
  <div class="container">
    <div class="row justify-content-center pb-3 pt-5">
      <div class="col-auto">
        <h1>Get Involved!</h1>
      </div>
    </div>
    <div class="row justify-content-center pb-5">
      <div class="col-md-7">
        <p class="text-justify">
          JabRef was founded 2003 and has since been used by many students and
          researchers. Our misson is to advance knowledge and improve scientific
          research. We value open access to information and believe modern
          science can built on an open institutional structure. This is why we
          develop JabRef as
          <a class="text-reset" href="https://github.com/JabRef/jabref">
            free open-source software
          </a>
          and save your data in a
          <a
            class="text-reset"
            href="https://docs.jabref.org/#the-data-format-of-jabref-is-bib-la-tex"
          >
            simple text-based file format
          </a>
          with no vendor lock-in.
        </p>
        <p class="lead text-center">
          Created by researchers, for researchers.
        </p>
        <p class="text-justify">
          JabRef is developed and maintained by a multidisciplinary
          <a
            class="text-reset"
            href="https://github.com/JabRef/jabref/blob/master/DEVELOPERS"
          >
            core team
          </a>
          of PhD students, postdocs, and researchers in industry who work on
          JabRef in their freetime. Without the support of numerous volunteers,
          none of this would have been possible. We welcome anyone who would
          like to contribute to be part of an active user and developer
          community!
          <!--The development and operating costs are entirely funded by
          individual donations.-->
        </p>
      </div>
    </div>
    <div class="card-deck">
      <div class="card text-center border-0">
        <div class="card-body">
          <a
            href="https://docs.jabref.org/faq/faqcontributing#i-am-not-a-programmer"
          >
            <i class="fas fa-heart"></i>
            <h4 class="card-title">Contribute</h4>
          </a>
          <h5>Help us build JabRef</h5>
          <p>
            You do not need to be a developer to improve the documentation,
            translate the user interface and help with support.
          </p>
          <a
            href="https://docs.jabref.org/faq/faqcontributing#i-am-not-a-programmer"
            class="btn-link"
          >
            Learn how to help
          </a>
        </div>
      </div>
      <div class="card text-center border-0">
        <div class="card-body">
          <a href="https://github.com/JabRef/jabref/wiki/Donations">
            <i class="fas fa-gift"></i>
            <h4 class="card-title">Donate</h4>
          </a>
          <h5>Support the development</h5>
          <p>
            Help us pay for project development and operating costs so that we
            can continue to innovate. Donations keep us going.
          </p>
          <a
            href="https://github.com/JabRef/jabref/wiki/Donations"
            class="btn-link"
          >
            Donate
          </a>
        </div>
      </div>
      <div class="card text-center border-0">
        <div class="card-body">
          <a href="https://github.com/JabRef/jabref">
            <i class="fas fa-laptop-code"></i>
            <h4 class="card-title">Develop</h4>
          </a>
          <h5>Make JabRef even better</h5>
          <p>
            JabRef is and always will be 100% free and open-source. Contribute
            new features and shape the future of JabRef.
          </p>
          <a href="https://github.com/JabRef/jabref" class="btn-link">
            Develop via GitHub
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
