<section id="getinvolved">
  <div class="container">
    <div class="card-deck">
      <div class="card text-center border-0">
        <div class="card-body">
          <a
            href="https://docs.jabref.org/faq/faqcontributing#i-am-not-a-programmer"><h4 class="card-title">Contribute</h4></a>
          <h5>Help us build JabRef</h5>
          <p>
            You do not need to know how to program to help.
            Improve the documentation, translate the user interface, ...
          </p>
          <a
            href="https://docs.jabref.org/faq/faqcontributing#i-am-not-a-programmer"
            class="btn-link"
            >Learn how to help</a
          >
        </div>
      </div>
      <div class="card text-center border-0">
        <div class="card-body">
          <a href="https://github.com/JabRef/jabref/wiki/Donations"><h4 class="card-title">Donate</h4></a>
          <h5>Support the development</h5>
          <p>
            Help us pay for dedicated developer time and servers so that we can keep
            building. Donations keep us going.
          </p>
          <a href="https://github.com/JabRef/jabref/wiki/Donations" class="btn-link">Donate</a>
        </div>
      </div>
      <div class="card text-center border-0">
        <div class="card-body">
          <a href="https://github.com/JabRef/jabref"><h4 class="card-title">Develop</h4></a>
          <h5>Make JabRef even better</h5>
          <p>
            JabRef is and always will be 100% free and open-source. Fork it on
            GitHub and contribute new features.
          </p>
          <a href="https://github.com/JabRef/jabref" class="btn-link">
            Fork on GitHub
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
