<!-- Navigation -->
<nav id="navbar-main" class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img style="height: 1.2em;" class="pr-4" src="/img/JabRef-icon-256.png" />
      {{ site.title }}
    </a>

    <!-- Links get grouped for better mobile display -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto mr-1">
        <li class="nav-item">
          <a class="nav-link" href="#features">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#download">Download</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#getinvolved">Get Involved</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#support">Support</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://blog.jabref.org/">News</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Masthead -->
<header class="masthead text-center">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1>{{ page.title }}</h1>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <h3 class="mb-5">{{ page.subTitle }}</h3>
      </div>
    </div>
    <div class="screenshot mt-5" data-img="main">
      <img id="screeny" src="../img/jabref-mainscreen.png" alt="" />
      <div class="interactive-image" id="image-overlay-container"></div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-10 col-lg-offset-1 mx-auto">
        <h2>JabRef supports you in every step of your research</h2>
        <p class="lead pt-2">
          Read more about it below or get going straight away.
        </p>
      </div>
    </div>
    <div class="row justify-content-center pt-3">
      <div class="col-auto">
        <a
          href="https://downloads.jabref.org/"
          class="btn btn-primary btn-lg download-btn"
        >
          Download JabRef
        </a>
      </div>
    </div>
  </div>
</header>
