<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta
    name="description"
    content="A free reference manager that helps you to discover, collect, organize and cite your scholarly literature and research in an efficient way."
  />

  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta
    property="og:title"
    content="JabRef - Free Reference Manager - Stay on top of your Literature"
  />
  <meta
    property="og:description"
    content="JabRef is a free reference manager that helps you to discover, collect, organize and cite your scholarly literature and research in an efficient way."
  />
  <meta property="og:site_name" content="JabRef" />
  <meta property="og:url" content="https://www.jabref.org/" />
  <meta
    property="og:image"
    content="https://www.jabref.org/img/jabref-mainscreen.png"
  />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@JabRef_org" />
  <meta name="twitter:domain" content="jabref.org" />
  <meta
    name="twitter:title"
    content="JabRef - Free Reference Manager - Stay on top of your Literature"
  />
  <meta
    name="twitter:description"
    content="JabRef is a free reference manager that helps you to discover, collect, organize and cite your scholarly literature and research in an efficient way."
  />
  <meta
    property="twitter:image"
    content="https://www.jabref.org/img/jabref-mainscreen.png"
  />

  <link rel="canonical" href="https://www.jabref.org/" />
  <link
    rel="icon"
    type="image/png"
    href="/img/JabRef-icon-16.png"
    sizes="16x16"
  />
  <link
    rel="icon"
    type="image/png"
    href="/img/JabRef-icon-20.png"
    sizes="20x20"
  />
  <link
    rel="icon"
    type="image/png"
    href="/img/JabRef-icon-32.png"
    sizes="32x32"
  />
  <link
    rel="icon"
    type="image/png"
    href="/img/JabRef-icon-40.png"
    sizes="40x40"
  />
  <link
    rel="icon"
    type="image/png"
    href="/img/JabRef-icon-48.png"
    sizes="48x48"
  />
  <link
    rel="icon"
    type="image/png"
    href="/img/JabRef-icon-64.png"
    sizes="64x64"
  />
  <link
    rel="icon"
    type="image/png"
    href="/img/JabRef-icon-128.png"
    sizes="128x128"
  />
  <link
    rel="icon"
    type="image/png"
    href="/img/JabRef-icon-256.png"
    sizes="256x256"
  />
  <link rel="shortcut icon" href="/img/favicon.ico" />

  <title>
    JabRef - Free Reference Manager - Stay on top of your Literature
  </title>

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "SoftwareApplication",
      "name": "JabRef",
      "operatingSystem": "Windows, OS X, Linux",
      "applicationCategory": "https://schema.org/EducationalApplication",
      "applicationSubCategory": "Reference manager",
      "downloadUrl": "https://downloads.jabref.org/",
      "featureList": "https://www.jabref.org//#features",
      "screenshot": "https://www.jabref.org/img/jabref-mainscreen.png",
      "offers": {
        "@type": "Offer",
        "price": "0"
      }
    }
  </script>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Product",
      "name": "JabRef",
      "image": ["https://www.jabref.org/img/jabref-mainscreen.png"],
      "description": "JabRef is a free reference manager that helps you to discover, collect, organize and cite your scholarly literature and research in an efficient way.",
      "brand": {
        "@context": "https://schema.org",
        "@type": "Organization",
        "url": "https://www.jabref.org/",
        "logo": "https://www.jabref.org/img/JabRef-icon-256.png",
        "name": "JabRef"
      },
      "offers": {
        "@type": "Offer",
        "price": "0"
      }
    }
  </script>

  <!-- Include Interactive Image jQuery plugin Styles -->
  <link href="css/interactive-image.min.css" rel="stylesheet" />

  <!-- Custom CSS -->
  <link href="css/landing-page.css" rel="stylesheet" />

  <!-- Custom Fonts - generated by get-google-fonts -i http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic -->
  <link
    href="fonts/fonts.css"
    rel="stylesheet"
    type="text/css"
  />

  <link
    href="node_modules/@fortawesome/fontawesome-free/css/all.min.css"
    rel="stylesheet"
    type="text/css"
  />

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
