<section id="support">
  <div class="container">
    <div class="row justify-content-center pb-5 pt-5">
      <div class="col-auto">
        <h1>Want to learn more?</h1>
      </div>
    </div>
    <div class="row">
			<div class="col-xs-6 col-sm-4 col-md-4 text-center pt-3">
				<a href="https://docs.jabref.org/general">
          <i class="fas fa-walking"></i>
          <p>Getting started</p>
				</a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 text-center pt-3">
				<a href="https://help.jabref.org">
          <i class="fas fa-book"></i>
          <p>User Documentation</p>
				</a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 text-center pt-3">
				<a href="http://discourse.jabref.org">
          <i class="fas fa-comments"></i>
          <p>Forum</p>
				</a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 text-center pt-3">
				<a href="http://discourse.jabref.org">
          <i class="fas fa-lightbulb"></i>
          <p>Propose a new feature</p>
				</a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 text-center pt-3">
				<a href="http://discourse.jabref.org">
          <i class="fas fa-bug"></i>
          <p>Report a bug</p>
				</a>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4 text-center pt-3">
				<a href="https://blog.jabref.org/">
          <i class="far fa-newspaper"></i>
          <p>Blog</p>
				</a>
			</div>
		</div>
  </div>
</section>
