<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
        color: rgb(234, 234, 234);
        background-color: rgb(21, 21, 21);
      }
      a {
        color: rgb(99, 192, 245);
      }
    </style>
  </head>
  <body>
    <div class="container">
      {{ content }}

      <p><a href="https://www.jabref.org">Back to homepage</a></p>
    </div>
  </body>
</html>